.content nav {
  height: 70px;
  background: var(--light);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
  color: var(--dark);
}

.content nav form {
  max-width: 750px;
  width: 100%;
  margin-right: auto;
}

.content nav form .form-input {
  display: flex;
  align-items: center;
  height: 50px;
  margin-left: 20px;
  border-radius: 36px;
  background: var(--grey);
}

.content nav form .form-input input {
  font-size: 18px;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  color: var(--dark);
}

.content nav form .form-input button {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  font-size: 24px;
  border: none;
  outline: none;
  border-radius: 36px;
  cursor: pointer;
  margin-right: -10px;
}

.content nav .notif {
  font-size: 26px;
  position: relative;
}

.content nav .notif .count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  background: var(--danger);
  border-radius: 50%;
  color: var(--light);
  border: 2px solid var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content nav .profile img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
}
